/* Fudliflix - Cursor-aware header tabs addon */
.emby-tab-button::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  background: var(--accent);
  border-radius: 10px;
  transform: translateX(100%) !important;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0s;
  left: 0;
  bottom: 0.75em;
  right: 0;
  visibility: hidden;
}
.emby-tab-button:hover::after {
  transform: translateX(0%) !important;
  visibility: visible;
}
.emby-tab-button:hover ~ .emby-tab-button::after {
  transform: translateX(-100%) !important;
}
.emby-tab-button.emby-tab-button-active::after {
  transform: translateX(0%) !important;
  visibility: visible;
}
